// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//TODO: add styles for forms

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: $font-family-sans-serif;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

section {
    padding: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

// Header
.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.bg-main{
    background-color: var(--bg);
    color: var(--color-heading);
}

.text-emphasis {
    color: var(--primary-color);

}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    a:visited{
        color: var(--color-heading);
    }
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

#logo-header {
    width: 150px;
}
// Button
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--color-heading);
    text-decoration: none;
}

// Home
.home-section {
    display: flex;

    > div {
        width: 50%;
    }
}