// Variables
@import "variables";
@import "~bootstrap/scss/bootstrap";



//TODO: add styles for forms

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: $font-family-sans-serif;
}

body{ height:100vh; margin:0; }

section {
    padding: 40px;
}

header{ min-height:50px; }
footer{ min-height:50px; }

body{ 
    display:flex; 
    flex-direction:column; 
  }
  
  footer{
    margin-top:auto; 
  }

// Header
.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.bg-main{
    background-color: var(--bg);
    color: var(--color-heading);
}

.text-emphasis {
    color: var(--primary-color);

}

#logo-header {
    width: 150px;
}
// Button
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--color-heading);
    text-decoration: none;
}

.info-logo {
    width: 200px;
    padding-left: 50px;
}

// Footer
.icon-footer {
    margin-bottom: 30px;
}

.left-info-section {
    border-right: 1px yellow solid;
    padding-right: 0px;
}

.right-info-section {
    padding-left: 55px;
}